.header {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #f6f8f9;
    justify-content: flex-start;
    padding-bottom: 16px;
  }

  .logo {
    justify-self: flex-start;
    align-self: flex-start;
  }
  